<h1>Login View</h1>

<form action="/Home/Login" method="post">
    <input type="text" name="username" value="" />
    <input type="text" name="password" value="" />
    <input type="submit" value="Login" />
</form>