<h1>IdentityServer Javascript Client Home Index View</h1>

<button onclick="signIn()">SignIn</button>

<button onclick="callApi()" >Call API</button>

<button onclick="signOut()">SignOut</button>

@*<script src="~/js-old/sign-in.js"></script>*@
<script src="~/oidc-client.min.js"></script>
<script src="~/axios.min.js"></script>
<script src="~/main.js"></script>